{% load static  %}

<!DOCTYPE html>
<html>
    <head>
        <title> My Portfolio </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <main class="card">
            <h1> Hi, I'm Nikola Atvare! </h1>
            <p> Welcome to my portfolio. </p>
            <h2> About Me </h2>
            <p> I'm learning about web development.</p>
            <h2> Projects </h2>
            <p> My portfolio starts here. </p>
        </main>
        <script src="{% static 'js/petals.js' %}"></script>
    </body>
    </html>