{% extends "base.html" %}
{% load static %}

{% block title %}Home | My Portfolio{% endblock %}

{% block content %}

<section class="hero">
    <div class="card">

        <img src="{% static 'images/headshot.jpeg' %}" class="profile-pic">

        <div class="text">
            <h1>Hi, I’m Nikola Atvare</h1>
            <p>Computer Science student.</p>
        </div>

    </div>
</section>

<section id="about">
    <div class="section-card">
        <h2>About Me</h2>
    </div>
</section>

<section id="skills">
    <div class="section-card">
        <h2>Skills</h2>
    </div>
</section>

<section id="projects">
    <div class="section-card">
        <h2>Projects</h2>
    </div>
</section>

<section id="contact">
    <div class="section-card">
        <h2>Contact</h2>
        <div class="contact-wrapper">
            <div class="contact-card">
                <img src="{% static 'images/gmail_icon.png' %}" class="social-icon">
                <div>
                    <h3>Email</h3>
                    <p>your@email.com</p>
                </div>
            </div>

            <div class="contact-card">
                <img src="{% static 'images/github_icon.png' %}" class="social-icon">
                <div>
                    <h3>GitHub</h3>
                    <p>n/a</p>
                </div>
            </div>

            <div class="contact-card">
                <img src="{% static 'images/linkedin_icon.png' %}" class="social-icon">
                <div>
                    <h3>Linkedin</h3>
                    <p>n/a</p>
                </div>
            </div>

            <div class="contact-card">
                <img src="{% static 'images/phone_icon.png' %}" class="social-icon">
                <div>
                    <h3>Phone</h3>
                    <p>+353 89 955 9744</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}