{% extends "base.html" %}
{% load static %}

{% block title %}Home | My Portfolio{% endblock %}

{% block content %}

<section class="hero">
    <div class="hero-heading">
        <h1>Welcome to my Portfolio</h1>
        <p>A soft little space for my projects, learning, and code.</p>
        <img src="{% static 'images/sakura-gif.gif' %}" class="heading-gif">
    </div>
    <div class="card">

        <img src="{% static 'images/headshot.jpeg' %}" class="profile-pic">

        <div class="text">
            <h1>Hi, I’m Nikola Atvare</h1>
            <p>Second-year Computer Science student
            exploring full-stack development,
            UI design, and backend systems.</p>
        </div>

    </div>
</section>

<section id="about">
    <div class="section-card">
        <h2 class="section-title">About Me</h2>
        <p> I’m a second-year Computer Science student at
            Dublin City University with a strong interest in
            full-stack development, databases, and backend systems.

            I enjoy combining creativity with technical problem-solving,
            especially when designing web applications and user-focused
            experiences. Recently, I’ve been working with Django,
            Python, HTML, CSS, and JavaScript while developing personal
            and academic projects.

            I’m particularly interested in building clean, thoughtful,
            and practical software that feels both functional and engaging. 
        </p>
    </div>
</section>

<section id="skills">
    <div class="section-card">
        <h2 class="section-title">Skills</h2>
        <div class="skills-list">
            <div class="skill-group">
                <h3>Programming Languages</h3>
                <div class="skill-pills">
                    <span>Python</span>
                    <span>Java</span>
                    <span>C</span>
                    <span>JavaScript</span>
                    <span>Prolog</span>
                </div>
            </div>

            <div class="skill-group">
                <h3>Web Development</h3>
                <div class="skill-pills">
                    <span>HTML</span>
                    <span>CSS</span>
                    <span>Django</span>
                </div>
            </div>

            <div class="skill-group">
                <h3>Databases</h3>
                <div class="skill-pills">
                    <span>SQL</span>
                </div>
            </div>

            <div class="skill-group">
                <h3>Systems & Tools</h3>
                <div class="skill-pills">
                    <span>Linux Command Line</span>
                    <span>Git</span>
                    <span>DevOps</span>
                </div>
            </div>

            </div>
        </div>
        </section>

        <section id="projects">
            <div class="section-card">
                <h2 class="section-title">Projects</h2>
                <div class="project-card">
                    <h3>Terminal System Project</h3>
                    <p>
                        Custom terminal-like system replicating
                        command-line functionality and OS interaction.
                    </p>

                    <a href="">View Project →</a>
                </div>
            </div>
</section>

<section id="contact">
    <div class="section-card">
        <h2 class="section-title">Contact</h2>
        <div class="contact-wrapper">
            <div class="contact-card">
                <img src="{% static 'images/gmail_icon.png' %}" class="social-icon">
                <div>
                    <h3>Email</h3>
                    <p>nicoleatvare@gmail.com</p>
                </div>
            </div>

            <div class="contact-card">
                <img src="{% static 'images/github_icon.png' %}" class="social-icon">
                <div>
                    <h3>GitHub</h3>
                    <a href="https://github.com/nicoleatvare">
                        View My Projects →
                    </a>
                </div>
            </div>

            <div class="contact-card">
                <img src="{% static 'images/linkedin_icon.png' %}" class="social-icon">
                <div>
                    <h3>Linkedin</h3>
                    <a href="https://www.linkedin.com/in/nikola-atvare-003313368/">
                        View My Profile →
                    </a>
                </div>
            </div>

            <div class="contact-card">
                <img src="{% static 'images/phone_icon.png' %}" class="social-icon">
                <div>
                    <h3>Phone</h3>
                    <p>+353 89 955 9744</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}